	body {
		margin: 0px;
 		background-image: url("bg1.jpg");
 		font-size: 0.8em;
 		text-align: justify;
	}
	nav {
		overflow: hidden; /*Hide Navbar when get smaller*/
		/*background-color: #0D3147;*/
		/*background-color: white;*/
		/*background-color: rgb(8, 30, 90);*/
		background-color: #002D48;
		opacity: 0.95;
		font-family: "Open Sans";
        /*font-family: 'Verdana';*/
        font-size: 1.1em;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        /*height: 100px;*/
        height: 80px;
        border-bottom: 1px solid #1e7fc4;
	}
	nav li {
		display: inline-block;
		padding-right: 50px;
		/*padding-top: 15px;*/
		padding-top: 1px;
	}
	nav ul {
		list-style-type: none;
		text-align: right;
	}
	li a{
		display: block;
		padding-top: 15px;
		/*padding: 10px;*/
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		text-decoration: none;
		color: #D9EBFF;
		/*color: grey;*/
	}
	table {
		border-collapse: collapse;
	}
	
	th {
		border: 1px solid black;
	}
	td {
		border: 1px solid black;
	}

	h2 {
		color: #696969;
		text-align: center;
	}
	#gr {
		background-color: #E8E9EB;
	}
	#wt {
		background-color: white;
	}
	#fixed {
		font-size: 13pt;
		background-color: white;
	}
	#food {
		font-size: 14pt;
	}
	.table {
		color: black;
		text-align: center;
		border-radius: 1px;
		margin-left: 3%;
		margin-right: 3%;
	}
	#footer li {
		display: inline-block;
		width: 20%;
	}
	#footer ul {
		list-style-type: none;
		padding: 20px;
		text-align: center;
		margin: 0px;
	}
	#h2places {
		text-align: center;
	}
	#content {
		display: block;
		border-radius: 4px;
		/*height: 1000px;*/
		height: auto;
		width: 90%;
		/*margin-top: 15%;*/
		margin-left: auto;
		margin-right: auto;
		/*overflow-y: scroll;*/
		padding-top: 4%;
		/*background-color: white;*/
		background-color: #D9EBFF;
		opacity: 0.85;
		/*opacity: 0.95;*/
		font-family: 'Verdana'
	}

	#logo {
		/*width: 200px;*/
		width: 250px;
		height: 80px;
		/*position: absolute*/;
		position: fixed;
		/*padding-top: 2px;*/
		/*padding-left: 10%;*/
		padding: 0px;
		border: 0px;
		margin: 0px;
		opacity: 1;
	}
	a:hover {
		color: black;
	}
	#welcome {
		float: right;
	}
	#intro {
		font-size: 1.3em;
	}
	#articleintro {
		padding-top: 60%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#arrivingintro {
		padding-top: 10%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.frontp{
		width: 50%;
		align-content: center;
		
	}
	#canadag{
		float: right;

	}
	.footer{
		margin-left: 45%;
		color: white;
		font-style: italic;
}
	.jobslinks	{
		color: black;
	
	}
	.jobslinks:hover {
		color: grey;
	}
	#tim {
		margin: 1px;
		padding: 1px;
		border: 1px;
		width: 18%;
		position: relative;
		float: right;
	}
	#star {
		margin: 1px;
		padding: 1px;
		border: 1px;
		width: 7%;
		position: relative;
		float: right;
	}
	#pplaces {
		padding-left: 4%;
		padding-right: 4%;
		font-size: 13pt;
	}
	#five {
		margin: 1px;
		padding: 1px;
		border: 1px;
		width: 18%;
		position: relative;
		float: right;
	}
	#old {
<<<<<<< HEAD
		
	}
	#contenta {
		display: block;
		border-radius: 4px;
		height: auto;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1%;
		background-color: #D9EBFF;
		opacity: 0.85;
		font-family: 'Verdana'
	}
	#arrivingvan{
		display: block;
		padding: 0% 5%;
		width: 90%;
		}
	#scotia{
		padding: 0% 30%;
		width: 40%;
	}
	#compassc{
		padding: 0% 30%;
		width: 40%;
	}
	#bcservices{
		padding: 0% 25%;
		width: 50%;
	}
	#sin{
		padding: 0% 35%;
		width: 30%;
	}
	p{
		padding: 0% 3%;
	}
	h4{
		padding: 0% 3%;
	}
	#video1{
		margin: 0% 20%;
		width: 60%;
	}
=======
		margin: 1px;
		padding: 1px;
		border: 1px;
		width: 7%;
		position: relative;
		float: right;
	}

	#contact {
		display: inline-block;
		width: 100%;
		text-align: center;
		height: 100px;
		background-color: #0D369f;
		opacity: 0.95;
	}
>>>>>>> 5b5e8e9800e76e3216eb5b732b0e6ba433e842e2
